.footer{
    padding: 20px;
    font-size: 17px;
    background-color: black;
    color: white;
    margin-top: auto;
}

.footer-up{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.footer-up div{
    width: fit-content;
    margin-bottom: 20px;
    margin-right: 10px;
}

.footer-up div h3{
    color: tomato;
    margin-bottom: 8px;
}

.footer-up .connect-us{
    width: 200px;
}

.footer-up .connect-us .icons{
    display: flex;
    width: 80%;
}

.footer-up .connect-us i{
    margin-right: 15px;
    cursor: pointer;
    color: rgb(170, 243, 168);
}

.footer-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-mid span{
    color: violet;
}

.footer-down{
    margin-top: 20px;
    display: grid;
    place-items: center;
}

.footer-down span{
    color: tomato;
}
