.content{
    display: none;
}

.nav-voice{
    position: fixed;
    background-color: rgb(131, 162, 221);
    width: 3.5rem;
    height: 3.5rem;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10rem;
    transition: width .5s ease;
    z-index: 999999;
}

/* .nav-voice:hover{
    width: 9rem;
} */

.voice-command{
    position: absolute;
    right: 0;
}

.voice-command::before{
    position: absolute;
    content: "Voice command";
    pointer-events: none;
    display: grid;
    place-items: center;
    height: 30px;
    font-size: 13px;
    width: 129px;
    right: 57px;
    top: -9px;
    opacity: 0;
    background-color: rgb(65, 58, 58);
    color: white;
    border-radius: 10rem;
    
    transition: 200ms opacity;
}

.voice-command:hover.voice-command::before{
    opacity: 1;
}

.voice-command span i{
    font-size: 30px;
}

.nav-voice span{
    position: relative;
    cursor: pointer;
    background : radial-gradient(circle at bottom center, #6ecdeb 15px, #3883a7);
    box-shadow: 0px 2px 10px rgb(255, 255, 255,0.5);
    height: 3.5rem;
    width: 3.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.user-voice-input{
    font-size: 25px;
    display: none;
    position: absolute;
    width: max-content;
    /* top | right | bottom | left */
    padding: 10px 70px 3px 19px;
    height: 3.5rem;
    /* border: 2px solid red; */
    background-color: rgb(101, 83, 104);
    color: rgb(241, 238, 238);
    right: 0;
    border-radius: 10rem;
}

.chatbot-container span{
    position: absolute;
    bottom: 0;
}

.dot-container{
    width: 3.3rem;
    display: flex;
    justify-content: space-around;
}

.dot{
    height: .8rem;
    width: .8rem;
    background-color: rgb(238, 245, 141);
    border-radius: 50%;
    animation: color .9s infinite;
}

@keyframes color {
    0%{
        background-color: rgb(115, 121, 56);
    }
    100%{
        background-color: rgb(139, 228, 154);
    }
}

.dot-container .dot:nth-child(2){
    animation-delay: .3s;
}

.dot-container .dot:nth-child(3){
    animation-delay: .6s;
}